<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        
        <title>Lunch Check</title>
    </head>
    <body ng-app="LunchCheck">
        <header>
            <h1>Lunch Check</h1>
        </header>
        <div>
            <form ng-controller="lunchCtrl">
                <input type="text" placeholder="type your's favorite dishes for lunch separate with commas" ng-model="meal">
                <br>
                <button ng-click="displayMessage();">Click Here</button>
                <div>
                <p class="message">{{message}}</p>
                </div>
                
            </form>
        </div>
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>