
header {
    background-color:aquamarine;
    text-shadow: .5px;
    text-align: center;
    letter-spacing: 1.5em;
    padding: 20px 0px 20px 0px;
    margin: 10px;
    border-radius: 5px;
}
form {
    margin:auto;
    text-align: center;
}
input {
    width: 500px;
    height: 20px;
}
button {
    margin-top: 20px;
}
.style1 , .style2 {
    width: 300px;
   
    padding: 10px;
    text-align: center;
    text-shadow: .3px;
    font-size: 1.2em;
    letter-spacing: 3px;
   margin-left: 475px;
    }

.style1 {
     border: 2px solid green;
    color: green;
}

.style2 {
     border: 2px solid red;
}
.style3 {
     border: 2px solid red;
}